@font-face {
  font-family: 'lithospro-light';
  src:url('./assets/fonts/lithospro-light.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
    font-family: 'lithospro-regular';  /* for backup */
    src:url('./assets/fonts/lithospro-webfont.woff2') format('woff2'),
        url('./assets/fonts/lithospro-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}


body {
  background-image: url("./assets/background-frame.jpg");

  color: white;
  font-family: 'lithospro-regular', 'lithospro-light', 'Times New Roman', Times, serif;
  text-shadow: 2px 4px 2px rgb(145, 110, 80);

  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  background-image: url("./assets/Main Page/bg1.png");
  background-size: cover;  /* this worked nicely */

  width: 412px;
  height: 917px;

  display: flex;
  flex-direction: column;
  align-items: center;
}


.title {
  font-size: 30px;

  margin-top: 50px;
  margin-bottom: 50px;
}


a {
  text-decoration: none;
  color: white;
}

.start-test,
.how-to {
  outline: 1px solid darkred;
}

.start-test img,
.how-to img {
  margin-right: -5px;  /* image was inherently slightly off-center */
}

.start-test h2,
.how-to h2 {
  text-align: center;
  margin-top: -10px;  /* the mockup had a distance of 12 px between the bottom of the image and the top of the text */
}

.how-to {
  margin-top: 20px;  /* approximations for now */
  margin-bottom: 60px;
}


.extra-options {
  display: flex;
  gap: 60px;
}
