*,
::after {
  font-size: 16px;
  font-weight: normal;
  transition: opacity 0.6s ease-in;
}

.invisible {
  opacity: 0;
}

.visible {
  opacity: 1;
}

.section.invisible {
  opacity: 1;
}
.section.invisible::after {
  opacity: 0;
}
.section.visible::after {
  opacity: 1;
}

body {
  transition: opacity 0.6s ease-in-out;
}


.title {
  font-size: 40px;
  margin-top: 14px;
  margin-bottom: 10px;
}


.container {
  background-image: url('../assets/Background2.png');
  background-position: 50% 0;
}


.card {
  background-color: rgb(255, 255, 255, 0.8);
  padding: 6px 14px 10px 14px;
  margin-bottom: 20px;
}


.header {
  position: relative;
  height: 30px;
  margin-bottom: 10px;
}

.tag {
  color: var(--title-text-color);
  font-size: 20px;
  text-shadow: none;
  transform: scale(0.8);
  position: absolute;
  left: -14px;
  z-index: 0;
  /* margin: 3px 0 0 4px; */
  margin: 3px 0 0 0;
}
.tag::before {
  content: url('../assets/Answers/q-arrow.png');
  position: absolute;
  z-index: -1;
  /* margin: -3px 0 0 -4px; */
  margin: -3px 0 0 -4px;
}
.tag.longer::before {
  content: url('../assets/Answers/q-arrow-longer.png');
}

.passage {
  position: relative;
  top: 6px;
}


.verses {
  color: var(--quote-text-color);
  line-height: 1.3;
}

.verses p + p {
  margin-top: 16px;
}

span.answer {
  color: rgb(81, 191, 59);
}


.section:not(:last-child)::after {
  content: url('../assets/Answers/Divider_-_shortened.png');
  display: block;
  margin-top: 10px;
  margin-bottom: 6px;
}


.buttons {
  margin-top: 20px;
}

.buttons .back {
  margin-right: 22px;
}
