@font-face {
  font-family: 'lithospro-light';
  src:url('../assets/fonts/lithospro-light-webfont.woff2') format('woff2'),
      url('../assets/fonts/lithospro-light-webfont.woff');
  font-weight: normal;
  font-style: normal;
}


* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}


:root {
  --text-shadow-color: rgba(73, 46, 22, 0.4);

  --title-text-color: white;
  --other-text-color: rgb(116, 52, 10);
  --quote-text-color: rgb(161, 101, 60);

  --title-text-shadow: 2px 4px 2px var(--text-shadow-color);
  --other-text-shadow: 1px 1px 2px var(--text-shadow-color);

  --transition-timing: 0.4s ease;
}


body {
  background-image: url("../assets/background-frame.jpg");  /* it repeats */

  color: var(--other-text-color);
  font-family: 'lithospro-light', 'Times New Roman', Times, serif;
  font-weight: normal;
  /* consider font-size */
  text-shadow: var(--other-text-shadow);

  -webkit-font-smoothing: antialiased;  /* three css properties that are supposed to increase clarity and consistency of fonts */
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;

  display: flex;
  justify-content: center;
  align-items: center;

  opacity: 0;
  transition: opacity 1.2s ease-in-out;
  overflow-x: auto;
}

.container {  /* background-image, height, padding must be specified in dedicated css file */
  background-size: cover;  /* this worked nicely */

  min-width: 412px;  /* min prevents things from breaking too bad*/
  min-height: 100vh;

  display: flex;
  flex-direction: column;
  align-items: center;
}


.title {
  color: var(--title-text-color);
  text-shadow: var(--title-text-shadow);
  font-weight: bold;
}


.card {
  background-color: rgb(255, 255, 255, 0.73);
  border: 2px solid white;
  text-align: center;  /* works for all 'inline contents of a block' */
  margin: 0 auto;
  width: 350px;
}


.btn {
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
  border: none;
  background: none;
  cursor: pointer;
  /* width: 102px; */  /* this caused some issues */
  height: 41px;  /* i assume all the images are the same width/height */
  transition: transform var(--transition-timing), box-shadow var(--transition-timing);
}

.btn:hover {
  transform: scale(1.05);
  box-shadow: 2px 2px 3.5px rgba(0, 0, 0, 0.3);
}


.loader {
  font-size: 10px;
  width: 1em;
  height: 1em;
  border-radius: 50%;
  position: relative;
  text-indent: -9999em;
  animation: mulShdSpin 1.1s 1.2 ease;
  transform: translateZ(0);

  display: none;
  transform: scale(0.6);
  margin-top: 24px;
}
@keyframes mulShdSpin {
  0%,
  100% {
    box-shadow: 0em -2.6em 0em 0em #ffffff, 1.8em -1.8em 0 0em rgba(255,255,255, 0.2), 2.5em 0em 0 0em rgba(255,255,255, 0.2), 1.75em 1.75em 0 0em rgba(255,255,255, 0.2), 0em 2.5em 0 0em rgba(255,255,255, 0.2), -1.8em 1.8em 0 0em rgba(255,255,255, 0.2), -2.6em 0em 0 0em rgba(255,255,255, 0.5), -1.8em -1.8em 0 0em rgba(255,255,255, 0.7);
  }
  12.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(255,255,255, 0.7), 1.8em -1.8em 0 0em #ffffff, 2.5em 0em 0 0em rgba(255,255,255, 0.2), 1.75em 1.75em 0 0em rgba(255,255,255, 0.2), 0em 2.5em 0 0em rgba(255,255,255, 0.2), -1.8em 1.8em 0 0em rgba(255,255,255, 0.2), -2.6em 0em 0 0em rgba(255,255,255, 0.2), -1.8em -1.8em 0 0em rgba(255,255,255, 0.5);
  }
  25% {
    box-shadow: 0em -2.6em 0em 0em rgba(255,255,255, 0.5), 1.8em -1.8em 0 0em rgba(255,255,255, 0.7), 2.5em 0em 0 0em #ffffff, 1.75em 1.75em 0 0em rgba(255,255,255, 0.2), 0em 2.5em 0 0em rgba(255,255,255, 0.2), -1.8em 1.8em 0 0em rgba(255,255,255, 0.2), -2.6em 0em 0 0em rgba(255,255,255, 0.2), -1.8em -1.8em 0 0em rgba(255,255,255, 0.2);
  }
  37.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(255,255,255, 0.2), 1.8em -1.8em 0 0em rgba(255,255,255, 0.5), 2.5em 0em 0 0em rgba(255,255,255, 0.7), 1.75em 1.75em 0 0em #ffffff, 0em 2.5em 0 0em rgba(255,255,255, 0.2), -1.8em 1.8em 0 0em rgba(255,255,255, 0.2), -2.6em 0em 0 0em rgba(255,255,255, 0.2), -1.8em -1.8em 0 0em rgba(255,255,255, 0.2);
  }
  50% {
    box-shadow: 0em -2.6em 0em 0em rgba(255,255,255, 0.2), 1.8em -1.8em 0 0em rgba(255,255,255, 0.2), 2.5em 0em 0 0em rgba(255,255,255, 0.5), 1.75em 1.75em 0 0em rgba(255,255,255, 0.7), 0em 2.5em 0 0em #ffffff, -1.8em 1.8em 0 0em rgba(255,255,255, 0.2), -2.6em 0em 0 0em rgba(255,255,255, 0.2), -1.8em -1.8em 0 0em rgba(255,255,255, 0.2);
  }
  62.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(255,255,255, 0.2), 1.8em -1.8em 0 0em rgba(255,255,255, 0.2), 2.5em 0em 0 0em rgba(255,255,255, 0.2), 1.75em 1.75em 0 0em rgba(255,255,255, 0.5), 0em 2.5em 0 0em rgba(255,255,255, 0.7), -1.8em 1.8em 0 0em #ffffff, -2.6em 0em 0 0em rgba(255,255,255, 0.2), -1.8em -1.8em 0 0em rgba(255,255,255, 0.2);
  }
  75% {
    box-shadow: 0em -2.6em 0em 0em rgba(255,255,255, 0.2), 1.8em -1.8em 0 0em rgba(255,255,255, 0.2), 2.5em 0em 0 0em rgba(255,255,255, 0.2), 1.75em 1.75em 0 0em rgba(255,255,255, 0.2), 0em 2.5em 0 0em rgba(255,255,255, 0.5), -1.8em 1.8em 0 0em rgba(255,255,255, 0.7), -2.6em 0em 0 0em #ffffff, -1.8em -1.8em 0 0em rgba(255,255,255, 0.2);
  }
  87.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(255,255,255, 0.2), 1.8em -1.8em 0 0em rgba(255,255,255, 0.2), 2.5em 0em 0 0em rgba(255,255,255, 0.2), 1.75em 1.75em 0 0em rgba(255,255,255, 0.2), 0em 2.5em 0 0em rgba(255,255,255, 0.2), -1.8em 1.8em 0 0em rgba(255,255,255, 0.5), -2.6em 0em 0 0em rgba(255,255,255, 0.7), -1.8em -1.8em 0 0em #ffffff;
  }
}
