body {
  color: var(--title-text-color);  /* the defaults are the --other-text stuff */
  text-shadow: var(--title-text-shadow);  /* the bottom text does not look right */
}

.container {
  background-image: url("../assets/Main_Page/bg1.png");
  height: 917px;
}


.title {
  font-size: 30px;
  margin-top: 50px;
  margin-bottom: 50px;
}

.title::before,
.title::after {
  position: absolute;  /* so it won't enlargen the title div */
  top: 50px;
}

.title::before {
  content: url("../assets/Main_Page/title_decoration_left.png");
  margin-left: -60px;  /* i feel like im hacking my way through */
}

.title::after {
  content: url("../assets/Main_Page/title_decoration_right.png");
}

.iq {
  font-size: 38px;  /* transform dint work */
}


a {
  text-decoration: none;
  color: var(--title-text-color);
}


.how-to {
  margin-top: 20px;  /* approximations for now */
  margin-bottom: 60px;
}

.start-test img,
.how-to img {
  margin-right: -5px;  /* image was inherently slightly off-center */
}

.start-test h2,
.how-to h2 {
  font-size: 24px;
  text-align: center;
  margin-top: -10px;  /* the mockup had a distance of 12 px between the bottom of the image and the top of the text */
}

.start-test img,
.start-test h2,
.how-to img,
.how-to h2 {
  transition: transform 0.4s ease;
}

.start-test:hover > img,
.how-to:hover > img {
  transform: translate(0, -8px);
  /* box-shadow: 2px 2px 2px white;  /* won't work because this needs to be a circle */
}

.start-test:hover > h2,  /* it affects the two children but not the container */
.how-to:hover > h2{
  transform: scale(1.05);  /* you see, changing font size would move everything */
}


.extra-options {
  display: flex;
  justify-content: center;
  gap: 60px;
}

.extra-options p {
  transition: transform 0.4s ease;
  /* font-weight: bold; */
}

.extra-options p:hover {
  transform: translate(0, -3px);
}


.note {
  color: var(--other-text-color);
  text-shadow: var(--other-text-shadow);
  text-align: center;  /* this actually works to center everything! i don't need to mess around with flex, which i would have to put in a dialog[open] selector */

  margin: auto;  /* this wondrously works for horizontal AND vertical! */
  width: 350px;
}

.note h2 {
  margin-top: 18px;
  margin-bottom: 8px;  /* the text content has somewhat of a healthy margin already */
  font-size: 20px;
  font-weight: normal;  /* oh so you actually can change the weight! */
}

.note p {
  margin-bottom: 12px;
  line-height: 1.5;
  font-size: 16px;
}

.note button {
  margin-bottom: 14px;
}
