@font-face {
  font-family: 'lithospro-light';
  src:url('../assets/fonts/lithospro-light.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
    font-family: 'lithospro-regular';  /* for backup */
    src:url('../assets/fonts/lithospro-webfont.woff2') format('woff2'),
        url('../assets/fonts/lithospro-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}


body {
  background-image: url("../assets/background-frame.jpg");  /* it repeats */

  color: white;
  font-family: 'lithospro-light', 'lithospro-regular', 'Times New Roman', Times, serif;
  text-shadow: 2px 4px 2px rgba(126, 79, 38, 0.6);  /* the bottom text does not look right */

  display: flex;
  justify-content: center;
  align-items: center;

  opacity: 0;
  transition: opacity 1.2s ease-in-out;
}

.container {
  background-image: url("../assets/Main_Page/bg1.png");
  background-size: cover;  /* this worked nicely */

  width: 412px;
  height: 917px;

  display: flex;
  flex-direction: column;
  align-items: center;
}


.title {
  font-size: 30px;

  margin-top: 50px;
  margin-bottom: 50px;
}

.title::before,
.title::after {
  position: absolute;  /* so it won't enlargen the title div */
  top: 50px;
}

.title::before {
  content: url("../assets/Main_Page/title_decoration_left.png");
  margin-left: -60px;  /* i feel like im hacking my way through */
}

.title::after {
  content: url("../assets/Main_Page/title_decoration_right.png");
}

.iq {
  font-size: 38px;  /* transform dint work */
}


a {
  text-decoration: none;
  color: white;
}


.how-to {
  margin-top: 20px;  /* approximations for now */
  margin-bottom: 60px;
}

.start-test img,
.how-to img {
  margin-right: -5px;  /* image was inherently slightly off-center */
}

.start-test h2,
.how-to h2 {
  font-size: 24px;
  text-align: center;
  margin-top: -10px;  /* the mockup had a distance of 12 px between the bottom of the image and the top of the text */
}

.start-test img,
.start-test h2,
.how-to img,
.how-to h2 {
  transition: transform 0.4s ease;
}

.start-test:hover > img,
.how-to:hover > img {
  transform: translate(0, -10px);
  /* box-shadow: 2px 2px 2px white;  /* won't work because this needs to be a circle */
}

.start-test:hover > h2,  /* it affects the two children but not the container */
.how-to:hover > h2{
  transform: scale(1.05);  /* you see, changing font size would move everything */
}


.extra-options {
  display: flex;
  justify-content: center;
  gap: 60px;
}

.extra-options p {
  transition: transform 0.4s ease;
}

.extra-options p:hover {
  transform: translate(0, -4px);
}
