.container {
  background-image: url("../assets/Invite_a_Friend/Background.png");
  background-position-x: 50%;  /* change position a bit to get a few nasty things out and not distracting */ /* worked well */
  padding: 0 18px;
}


.title {
  font-size: 40px;
  margin-top: 30px;
  margin-bottom: 50px;
}


.entry {
  background-color: white;
  box-shadow: 1.8px 1.8px 4.2px rgba(0, 0, 0, 0.4);
  width: 100%;  /* so it is like a block element (and respects parent's padding) */
  margin-bottom: 16px;  /* makes it even with side padding */ /* changed it to less */
  position: relative;
  display: flex;
}

.entry:has(input) {
  height: 48px;  /* height of the svg's */
}

.entry input,
.entry textarea {
  color: var(--other-text-color);
  caret-color: var(--other-text-color);
  font-size: 18px;
  font-family: arial, sans-serif;  /* it will differentiate the feel */
  border: none;
  outline: none;
  /* pointer-events: none; */
  flex: 1;
}

.entry input {
  padding: 15px;
}

.entry textarea {
  resize: none;
  height: 540px;
  padding: 12px;
}

.entry label {
  font-size: 20px;
  opacity: 0.90;
  position: absolute;
  transition: opacity 0.6s ease-out, visibility 0.6s;  /* ease out is perfect */
}

.entry input + label {  /* could ha put this in above selector, but for clarity i will do this */
  top: 13px;  /* 18 seemed a bit too down */
  left: 62px;
}

.entry textarea + label {
  top: 12px;
  left: 12px;
}

.entry *:focus + label {
  opacity: 0;  /* for fade effect; the visibility just poofs */
  visibility: hidden;  /* so it can't be clicked on [and kinda mess things up] */
}

.entry *:not(:placeholder-shown) + label {
  visibility: hidden;
}


.entry label[for="include-score"] {
  visibility: visible;
  position: initial;
  margin: 13px auto 0px 14px;
}

.entry input#include-score {
  flex: none;
  margin: auto 14px auto 0px;
  appearance: none;
  box-shadow: none;
  border: 2px solid var(--other-text-color);
  border-radius: 10px;
  height: 38px;
  width: 38px;
  position: relative;
  transition: box-shadow var(--transition-timing);
}

.entry label[for="include-score"]:hover {
  cursor: pointer;
}

.entry input#include-score:hover {
  box-shadow: 1.4px 1.4px 1.8px rgba(0, 0, 0, 0.3), inset 1.4px 1.4px 1.8px rgba(0, 0, 0, 0.26);
  cursor: pointer;
}

.entry input#include-score::before {
  content: url('../assets/Invite_a_Friend/checkmark.svg');
  transform: scale(1.6);
  position: absolute;
  top: 5px;
  left: 11px;
  opacity: 0;
  transition: opacity var(--transition-timing);
}

.entry input#include-score:checked::before {
  opacity: 1;
}


.smaller {  /* now a lot of that was just so i could have this span in the label! (and it is also accessible) */
  font-size: 14px;
}


.buttons {
  display: flex;
  gap: 22px;
  margin-bottom: 26px;
}

.buttons button:hover {
  /* transform: scale(1.05);  /* this makes the image fuzzy */
  transform: none;
  box-shadow: 0px 0px 8px rgba(255, 255, 255, 0.5);  /* i've been wanting to have white shadow sometime */ /* also consider no offsets so the shadow is centered */
}
