body {
  text-shadow: 1px 1px 1px rgba(73, 46, 22, 0.2);  /* cut blur and opacity in half */
}


.container {
  background-image: url("../assets/Quiz/bg1.png");
  background-position: center;
}


.header {
  background-color: rgb(192, 140, 105);
  border-radius: 50px;  /* the max */

  text-align: center;

  margin-top: 25px;
  margin-bottom: 10px;

  width: 260px;
  height: 65px;

  position: relative;
}

.header::before {
  content: url("../assets/Quiz/header-decor.png");
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
  top: -18px;
}

.category {
  color: var(--title-text-color);
  text-shadow: 1px 2px 2px rgba(73, 46, 22, 0.7);  /* same as --text-shadow-color but with higher opacity */
  font-size: 24px;
  /* font-weight: bold; */
  margin-top: 4px;
  margin-bottom: 4px;
}

.progress {
  color: var(--title-text-color);
  margin-bottom: 0;  /* it already is fine somehow */
}

.progress::before {
  background-color: white;
  content: '';
  display: block;  /* this was necessary for height to work */
  width: 150px;
  height: 1px;
  margin: 0 auto;
  margin-bottom: 4px;
}


.card::before {
  content: url('../assets/Quiz/q-decor3.png');
  filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.2));
  position: absolute;
  left: -2px;
  top: -10px;
}

.card {
  padding: 30px 16px 16px 16px;
  margin-bottom: 24px;
  position: relative;
}


.q-before-part,
.q-after-part {
  font-size: 20px;
  line-height: 1.2;
}

.q-before-part {
  text-indent: 8px;
  margin-left: 20px;
  margin-bottom: 20px;
}

.q-quote-part {
  color: rgb(185, 109, 57);
  text-align: justify;
  font-size: 16px;
  line-height: 1.4;
  margin-bottom: 20px;
}

.fill-in-the-blank {
  display: inline-block;  /* a lifesaver, suggested by ai */
  text-decoration: underline;
  white-space: pre;
}

.q-quote-part > p + p {
  margin-top: 14px;  /* to create space between paras */
}


.answer-selection::before {
  content: url("../assets/Quiz/Divider_-_shortened_1.png");
  display: block;
  margin-top: 30px;  /* my careful margins make it independent of whether the after-part is there or not! */
  margin-bottom: 30px;
}

.answer-selection {
  font-size: 16px;
  margin-bottom: 30px;
}


.choice {
  line-height: 1.4;
  text-align: start;
  display: flex;
  align-items: start;
  gap: 12px;
}

.choice + .choice {
  margin-top: 30px;
}

input[type="radio"] {
  appearance: none;
  /* margin-top: 4px; */  /* margin does not do anything here */
  background: transparent;  /* i want to have a lil shadow on the inside as well */
  border: 2px solid rgb(192, 140, 105);
  min-width: 24px;
  height: 24px;
  border-radius: 50%;
  transition: box-shadow 0.4s ease, transform 0.4s ease;
}

input[type="radio"] + label {
  text-indent: -20px;
  margin-left: 20px;
  margin-top: 2px;
}

input[type="radio"]:hover {  /* label hover also applies this to radio elem */
  cursor: pointer;
  box-shadow: 1.4px 1.4px 1.8px rgba(0, 0, 0, 0.2), inset 1.4px 1.4px 1.8px rgba(0, 0, 0, 0.16);
  transform: scale(1.08);
}

input[type="radio"]:hover + label {
  cursor: pointer;
}

input[type="radio"]::before {
  background-color: rgb(220, 140, 105);
  content: ' ';
  display: block;
  border-radius: 50%;
  width: 14px;
  height: 14px;
  opacity: 0;
  transform: translate(3px, 3px);
  /* transform-origin: center; */
  /* transition: opacity 0.8s ease, transform 0.4s ease-out; */
}

input[type="radio"]:checked::before {
  opacity: 1;
  /* transform: translate(3px, 3px) scale(1); */
}


.btn:first-child {
  margin-right: 22px;
}
